*.sln
*.vcxproj
*.filters
*.user
*.idea/
*.target/
*out/
*.iml
*.in
*.out
*.class
*x64/
*.exe
*.vs
*.log
node_modules

MelhorPrecoApp/target/MelhorPrecoApp-1.0-SNAPSHOT.jar
MelhorPrecoApp/target/maven-archiver/pom.properties
MelhorPrecoApp/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
MelhorPrecoApp/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
MelhorPrecoApp/target/classes/br.com.melhorpreco_app/script.js
