.bar{
  z-index: 2;
  position: absolute;
  display: inline-block;
  margin-top: 3rem;
  max-width: 100%;
  height: 20%;
  width: 85%;
}

.searchbar {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #f8faff;
    display: flex;
    height: 44px;
    background: transparent;
    background-color: rgba(0, 0, 16, 0.8);
    border: 1px solid #000000;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    max-width: 500px;
  }
  
  .searchbar:hover {
    box-shadow: 0 0.5px 6px rgba(255, 255, 255, 0.863);
    border-color: rgb(0, 0, 0);
  }
  
  .searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 15px 15px 20px 14px;
  }
  
  .searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-top: -7px;
  }
  
  .search-icon-wrapper {
    margin: auto;
  }
  
  .search-icon {
    margin-top: 3px;
    color: #e7e0e0;
    height: 20px;
    line-height: 20px;
    width: 20px;
  }
  
  .searchbar-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
  }
  
  .searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 50px;
    font-size: 20px;
  }
  
  .searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -58px;
    height: 34px;
    font-size: 20px;
    max-width: 100%;
  }
  
  .searchbar-right {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: start;
    flex-direction: row
  }
  
  .searchbar-clear-icon {
    margin-right: 12px
  }
  
  .voice-search {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 2.8em;
  }


  .rating-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    margin-top: 0.1rem;
    width: 100%;
  }

  .rating-text {
    border-radius: 0rem 0rem 0rem 1.5rem;
    background-color: rgba(0, 0, 16, 0.8);
    height: 2.15rem;
  }

  .rating-text p {
    color: rgba(255, 255, 255, 0.8);
    font-family: arial, sans-serif;
    font-weight: 400;
    text-align: center;
    align-self: center;
    margin-right: 0.5rem;
    font-size: 1rem;
    width: 3rem;
    margin-top: 0.5rem;
    padding-left: 1.0rem;
    text-align: center;
  }

  .select_search,
  .select_search:active {
    font-size: 16px;
    font-family: arial, sans-serif;
    color: #ffffff;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 16, 0.8);
    text-align: center;
    width: 100px;
  }
  
  .rating {
    background-color: rgba(0, 0, 16, 0.8);
    border-radius: 0rem 0rem 1.5rem;
    padding: 0.2rem;
    align-items: center;
    align-self: center;
  }
  
  .rating svg {
    fill: rgb(242, 242, 242);
    height: 1.5rem;
    width: 3rem;
    margin: 0rem;
  }
  
  #radios label {
    position: relative;
  }
  
  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  
  input[type="radio"] + svg {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  input + svg {
    cursor: pointer;
  }
  
  input[class="rating_label"]:hover + svg,
  input[class="rating_label"]:checked + svg,
  input[class="rating_label"]:focus + svg {
    fill:  rgb(232, 214, 0);
  }
  
  input[class="distance_label"]:hover + svg,
  input[class="distance_label"]:checked + svg,
  input[class="distance_label"]:focus + svg {
    fill: rgb(214, 68, 10);
  }
  
  input[class="price_label"]:hover + svg,
  input[class="price_label"]:checked + svg,
  input[class="price_label"]:focus + svg {
    fill: rgb(0, 101, 232);
  }
  