.listaHome{
    position: absolute;
    z-index: 2;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: scroll;
    white-space: nowrap;
}


/* ------------------- Renderização Lista */

.homeLista {
    background-color: rgba(0, 0, 16, 0.8);
    color: white;
    max-width: 270px;
    min-height: 90px;
    max-height: 150px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.homeLista > .mercado {
    font-weight: bold;
    text-align: justify;
    font-size: 14px;
    grid-area: 1 / 1 / 2 / 3;
}

.homeLista svg {
    justify-self: flex-end;
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(54, 177, 101);
    grid-area: 1 / 3 / 2 / 5;
}

.homeLista > .validadeOferta {
    text-align: center;
    font-size: 12px;
    grid-area: 2 / 1 / 3 / 5;
    border-bottom: 1px solid black;
}

.homeLista > .item {
    margin-top: 10px;
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    grid-area: 3 / 1 / 4 / 3; 
}

.homeLista > .marca {
    margin-top: 10px;
    text-align: end;
    font-size: 12px;
    font-weight: bold;
    grid-area: 3 / 3 / 4 / 5;
}

.homeLista > .desc {
    font-size: 14px;
    grid-area: 4 / 1 / 5 / 4;
}

.homeLista > .unMedida {
    font-size: 12px;
    text-align: end;
    grid-area: 4 / 4 / 5 / 5;
}

.homeLista > .avaliacao {
    font-size: 12px;
    text-align: end;
    grid-area: 5 / 4 / 6 / 5;
}

.homeLista > .avaliacao svg {
    width: 1rem;
    height: 1rem;
    border: black;
    fill: yellow;
}


.homeLista > .valor {
    font-size: 18px;
    font-weight: bold;  
    text-align: justify;
    grid-area: 5 / 1 / 6 / 4;
}

.homeLista > .acoes {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    padding-left: 8px;
    border-left: 1px solid black ;
    flex-wrap: wrap;
    flex-direction: column;
    grid-area: 1 / 5 / 6 / 6;
}

/*------------------------------------------- Create Lista ----------------*/

.createLista {
    max-width: 270px;
    min-height: 90px;
    max-height: 150px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.createLista > .mercado {
    font-weight: bold;
    text-align: justify;
    font-size: 14px;
    grid-area: 1 / 1 / 2 / 3;
}

.createLista svg {
    justify-self: flex-end;
    width: 1.5rem;
    height: 1.5rem;
    fill: blue;
    grid-area: 1 / 3 / 2 / 5;
}

.createLista > .validadeOferta {
    text-align: center;
    font-size: 12px;
    grid-area: 2 / 1 / 3 / 5;
    border-bottom: 1px solid black;
}

.createLista > .item {
    margin-top: 10px;
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    grid-area: 3 / 1 / 4 / 3; 
}

.createLista > .marca {
    margin-top: 10px;
    text-align: end;
    font-size: 12px;
    font-weight: bold;
    grid-area: 3 / 3 / 4 / 5;
}

.createLista > .desc {
    font-size: 14px;
    grid-area: 4 / 1 / 5 / 4;
}

.createLista > .unMedida {
    font-size: 12px;
    text-align: end;
    grid-area: 4 / 4 / 5 / 5;
}

.createLista > .avaliacao {
    font-size: 12px;
    text-align: end;
    grid-area: 5 / 4 / 6 / 5;
}

.createLista > .avaliacao svg {
    width: 1rem;
    height: 1rem;
    border: black;
    fill: yellow;
}


.createLista > .valor {
    font-size: 18px;
    font-weight: bold;  
    text-align: justify;
    grid-area: 5 / 1 / 6 / 4;
}

.createLista > .acoes {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    padding-left: 8px;
    border-left: 1px solid black ;
    flex-wrap: wrap;
    flex-direction: column;
    grid-area: 1 / 5 / 6 / 6;
}

  