.mapa{
    height: 100%;
    z-index: 1;
    position: relative;
}

.mapaSearch{
    width: 500px;
    height: 500px;
    grid-area: 1 / 2 / 6 / 5;
}
.promocao{
    
    height: 600px;
    width: 250px;
    background-color: red;
    grid-area: 1 / 5 / 6 / 6; 
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 0px;
    align-items: center;
    justify-content: center;
    }

/* ------------- Configuração de css Lista --------------*/

.produtoLista {
    max-width: 270px;
    min-height: 90px;
    max-height: 150px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.produtoLista > .mercado {
    font-weight: bold;
    text-align: justify;
    font-size: 14px;
    grid-area: 1 / 1 / 2 / 3;
}

.produtoLista svg {
    justify-self: flex-end;
    width: 1.5rem;
    height: 1.5rem;
    fill: blue;
    grid-area: 1 / 3 / 2 / 5;
}

.produtoLista > .validadeOferta {
    text-align: center;
    font-size: 12px;
    grid-area: 2 / 1 / 3 / 5;
    border-bottom: 1px solid black;
}

.produtoLista > .item {
    margin-top: 10px;
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    grid-area: 3 / 1 / 4 / 3; 
}

.produtoLista > .marca {
    margin-top: 10px;
    text-align: end;
    font-size: 12px;
    font-weight: bold;
    grid-area: 3 / 3 / 4 / 5;
}

.produtoLista > .desc {
    font-size: 14px;
    grid-area: 4 / 1 / 5 / 4;
}

.produtoLista > .unMedida {
    font-size: 12px;
    text-align: end;
    grid-area: 4 / 4 / 5 / 5;
}

.produtoLista > .avaliacao {
    font-size: 12px;
    text-align: end;
    grid-area: 5 / 4 / 6 / 5;
}

.produtoLista > .avaliacao svg {
    width: 1rem;
    height: 1rem;
    border: black;
    fill: yellow;
}


.produtoLista > .valor {
    font-size: 18px;
    font-weight: bold;  
    text-align: justify;
    grid-area: 5 / 1 / 6 / 4;
}

.produtoLista > .acoes {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    padding-left: 8px;
    border-left: 1px solid black ;
    flex-wrap: wrap;
    flex-direction: column;
    grid-area: 1 / 5 / 6 / 6;
}