main {
    background: white;
}

.lista {
    display: flex;
    flex-direction: column;
}

.list_map {
    height: 100vh;
    display: flex;
    gap: 20px;
}

.mapaList {
    margin-top: 2rem;
    height: 90%;
    min-width: 50%;
    max-width: 70%;
    top: 2rem;
    left: 670px;
    position: absolute;
}

.exibe-lista > .navegacao{
    border-bottom: 2px solid rgba(253, 253, 253, 0.5);
}

.mapaList > .leaflet-container {
    border: 2px solid  #b9b99d;
    border-radius: 5px;
}

.listaAtual > input::placeholder{
    color: white;
}


.cabecalho {
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: max-content;
    width: 635px;
    margin-top: 2%;
    margin-bottom: 2px;
    margin-left: 15px;
    border-radius: 5px;
}

.listaAtual {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 640px;
    height: 485px;
    margin-left: 15px;
    overflow-y: auto;
    border-radius: 5px;
}

.listaAtual::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}


.exibeItens {
    color: black;
    font-weight: bold;
    border-radius: 5px;
    display: grid;
    width: 630px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 2px solid #b9b99d;
    background-color: white;
}

.exibeItens{
    padding-left: 5px;
}

.exibeItens > .item {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    align-items: center;
    align-self: center;
}

.exibeItens > .desc {
    grid-area: 1 / 3 / 2 / 3;
    display: flex;
    align-items: center;
    align-self: center;
}

.exibeItens > .unMedida {
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.exibeItens > .quantidade {
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.exibeItens > .quantidade > svg {
    align-items: center;
}

.exibeItens > .valores {
    grid-area: 1 / 6 / 2 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.exibeItens > .valores > .valor1, .valor2, .valor3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-width: 100px;
    max-width: 600px;
    min-height: 34px;
}



.filter-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    margin-top: 0.1rem;
    width: 50%;
}


.filter-container2 > .filter-text {
    margin-top: 0.5rem;
    border-radius: .5rem 0rem 0rem .5rem;
    background-color: #b9b99d;
    height: 2.15rem;
}

.filter-container2 > .filter-text p {
    color: rgba(255, 255, 255, 0.8);
    font-family: arial, sans-serif;
    font-weight: 400;
    text-align: center;
    align-self: center;
    margin-right: 0.5rem;
    font-size: 1rem;
    width: 3rem;
    margin-top: 0.5rem;
    padding-left: 1.0rem;
    text-align: center;
}

.filter-container2 > .select_filter,
.filter-container2 > .select_filter:active {
    font-size: 16px;
    font-family: arial, sans-serif;
    color: #ffffff;
    border: none;
    outline: none;
    margin-top: 0.5rem;
    background-color: #b9b99d;
    text-align: center;
    width: 100px;
}

.filter-container2 > .rating-filter {
    margin-top: 0.5rem;
    background-color: #b9b99d;
    border-radius: 0rem .5rem .5rem 0rem;
    padding: 0.2rem;
    align-items: center;
    align-self: center;
}

.filter-container2 > .rating-filter svg {
    fill: rgba(73, 72, 72, 0.479);
    height: 1.5rem;
    width: 3rem;
    margin: 0rem;
}